GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT/exec
GOOGLE_SCRIPT_SECRET=defina_um_secret_forte
AUTH_SECRET=gere_com_npx_auth_secret
AUTH_GOOGLE_ID=seu_client_id_google
AUTH_GOOGLE_SECRET=seu_client_secret_google
AUTHORIZED_EMAILS=email1@example.com,email2@example.com
